*{
    margin:0;
    padding:0;
    box-sizing:border-box;
   
}

html{
    scroll-behavior:smooth;
}

body{
    font-family: Georgia, serif;
    background:#fafafa;
    color:#111;
    cursor: pointer;
}

.topo{
    background:white;
    border-bottom:1px solid #ddd;
    padding:25px 8%;
    position:sticky;
    top:0;
    z-index:1000;
}
.logo-titulo{
     display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:15px;
}

.topo h1{
    font-size:3rem;
    font-weight:normal;
    margin:0;
}

.menu{
    display:flex;
    gap:25px;
    flex-wrap:wrap;
}

.menu a{
    text-decoration:none;
    color:#111;
    font-size:0.95rem;
    transition:0.3s;
}

.menu a:hover{
    color:#9b0000;
}

.destaque{
    width:85%;
    max-width:1100px;
    margin:60px auto;
    border-bottom:2px solid #111;
    padding-bottom:40px;
}

.destaque span{
    color:#9b0000;
    font-weight:bold;
    letter-spacing:1px;
}

.destaque h2{
    font-size:4rem;
    font-weight:normal;
    line-height:1.1;
    margin:15px 0;
}

.destaque p{
    color:#555;
    font-size:1.2rem;
}

.secao{
    width:85%;
    max-width:1100px;
    margin:70px auto;
}

.titulo-secao{
    font-size:2.5rem;
    font-weight:normal;
    margin-bottom:40px;
}

.noticia{
    display:grid;
    grid-template-columns:320px 1fr;
    gap:25px;
    padding-bottom:30px;
    margin-bottom:30px;
    border-bottom:1px solid #ddd;

}
.noticia:hover{
    transform:translateY(-5px);
    transition:1.0s;
}

.noticia img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:8px;
}


.noticia h3{
    font-size:1.8rem;
    font-weight:normal;
    margin-bottom:12px;
}

.noticia p{
    color:#555;
    line-height:1.8;
}


.rodape{
    background:#27014b;
    color:white;
    text-align:center;
    padding:50px 20px;
    margin-top:80px;
}

.rodape h3{
    margin-bottom:15px;
    font-size:1.8rem;
}

.rodape p{
    margin:8px 0;
}

#logo{
    width:100px;
    height:auto;
    align-items:center;
}

@media(max-width:800px){

    .menu{
        gap:12px;
    }

    .destaque h2{
        font-size:2.4rem;
    }

    .titulo-secao{
        font-size:2rem;
    }

    .noticia{
        grid-template-columns:1fr;
    }

    .noticia h3{
        font-size:1.4rem;
    }

    .topo h1{
        font-size:2rem;
    }
}