* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background: #5800aa;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    color: #ddd;
    font-size: 17px;
    margin-bottom: 20px;
}

button {
    background-color: #9d4edd;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #7b2cbf;
}


/* FOTOS */

.opcoes-fotos {
    width: 560px;
    max-width: 100%;
    margin: 25px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.foto-opcao {
    width: 125px;
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
}

.foto-opcao:hover {
    border-color: #c77dff;
}

.foto-selecionada {
    border: 3px solid white;
}


/* JOGO */

.jogo {
    display: none;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 35px;
    flex-wrap: wrap;
}

.jogo:has(.peca) {
    display: flex;
}


/* ÁREA DAS PEÇAS */

.pecas {
    width: 350px;
    padding: 15px;
    background-color: #6d16bd;
    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
}


/* PEÇA */

.peca {
    width: 100px;
    height: 100px;

    background-repeat: no-repeat;
    background-size: 300px 300px;

    cursor: grab;

    border-radius: 4px;
}

.peca:hover {
    opacity: 0.9;
}

.peca:active {
    cursor: grabbing;
}

.arrastando {
    opacity: 0.5;
}


/* TABULEIRO */

.tabuleiro {
    width: 350px;
    height: 350px;

    padding: 15px;

    background-color: #6d16bd;
    border-radius: 10px;

    display: grid;

    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);

    gap: 10px;
}


/* ESPAÇOS */

.espaco {
    width: 100px;
    height: 100px;

    background-color: #491080;

    border: 2px dashed #c77dff;

    border-radius: 5px;
}

.espaco:hover {
    background-color: #541391;
}

.espaco .peca {
    width: 100px;
    height: 100px;
}


/* MENSAGEM */

#mensagem {
    margin-top: 25px;
    font-size: 20px;
    color: white;
}


/* CELULAR */

@media (max-width: 750px) {

    body {
        padding: 20px 10px;
    }

    h1 {
        font-size: 30px;
    }

    .opcoes-fotos {
        grid-template-columns: repeat(3, 1fr);
    }

    .foto-opcao {
        width: 100%;
        height: 85px;
    }

    .jogo {
        gap: 25px;
    }

}